<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Vareliste</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody >
        <tr th:each="product : ${products}">
            <td th:text="${product.name}">Kaffe</td>
            <td th:text="${product.price}">10</td>
            <td th:text="${product.description}">Den er god</td>
        </tr>
    </tbody>
</table>
</body>
</html>